@{
    ViewData["Title"] = "Error";
}

<div id="block-1-error">
    <div class="container">
        <h1>404 - Page not found</h1>
        <p>
            <a class="fff" asp-area="" asp-controller="Home" asp-action="Index">Return to Home Page</a>
        </p> 
    </div>
    <div class="overlay"></div>
</div>
